body
 {background-image: url("https://assets.codepen.io/11868974/R.jpeg");
    background-size:399px;
   width=100px;
   height=500px;
   border=2px solid;
   
   

}


h1 { color:red;
    text-size:30px;
    text-align:center;
    margin:px;
    width:1330px;
    height:40px;
    outline:dashed 4px blue;
    background-color:black;
}

.center {
  display:block;
  margin-left:250px;
  margin-right:200px;
  width:50%;
}


ul  {color:purple;
   text-align:center;
   outline:dashed 5px black;
   background-color:yellow;
}

li {color:blue;
    text-align;center;
}

h2 {text-align:center;
    color:red;
