body
 
   {background-image: url("https://assets.codepen.io/11868974/cool-background.png");
   background-size:1000px;
   font-family:Garamond;
   width=200px;
   height=500px;
   opacity=.5;
   }


h1 { color:Black;
    text-size:30px;
    text-align:left;
    margin:10px;
    width:1330px;
    height:40px;
}

img {
  border-radius=8px;
  image-align:center;
  border:1px solid;
  padding:5px;
  display:block;
  margin-left:0 auto;
  margin-right:0 auto;
  width:50%;
  text-align:center;
  }

    
.center {
  display:block;
  margin-left:0px;
  width:400px;
  height:200px;
}


.button {
  background-color:lightgreen;
  padding:15px 32px;
}

ul  {color:purple;
   text-align:center;
   outline:dashed 5px black;
   background-color:lightblue;
}

li {color:darkpink;
    text-align;center;
    font-family:Verdana;
  
}

h2 {text-align:center;
    color:Black;
    font-family:Garamond;
